---
title: CMS Blog
---
<div class="container has-background-grey-lighter">
<section class="section">
<h1>Recent articles</h1>
<ul>
<% blog.articles.each do | article | %>
  <li>
    <h3 class="title">
      <%= article.title %>
    </h3>

    <%= link_to 'Read more', article %>
  </li>

<% end %>

</ul>
</section>
</div>